@model moeDeloTst.Models.Document

@{
    ViewData["Title"] = "Изменение документа контрагента";
}

<h2>Изменение документа контрагента</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Информация о документе контрагента:</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="DocNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DocNumber" class="form-control" />
                <span asp-validation-for="DocNumber" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DocName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DocName" class="form-control" />
                <span asp-validation-for="DocName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>